body {
  font-family: sans-serif;
  text-align: center;
  background: #ccffff;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#resultado10, #resultadoPersonalizada, #somaTotal {
  font-weight: bold;
  margin-top: 10px;
}
